div#photo{
    position: absolute;
    left: 400px;
    top: 20px;
}
#monImage{
    border: 30px solid;
    color: burlywood;
    outline: aqua solid 1px;
    box-shadow: 10px 10px 5px #888888;
}
p{
    display: none;
}


